<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-4">
                <h4 class="page-title">All Room Types</h4>
            </div>
            <div class="col-sm-8 col-8 text-right m-b-20">
                <%=link_to "Add Room Type", new_admin_room_type_path, class: "btn btn btn-primary btn-rounded float-right "%>
            </div>
        </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
                    <th>Room ID</th>
                    <th>Image</th>
										<th>Title</th>
                    <th>Price</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
                  <%@room_types.each do |room_type| %>
						      <tr>
                    <td><%=room_type.id%></td>
                    <td><img src="<%=room_type.image%>" width="40" height="40" class="rounded-circle"></td>
                    <td><%=room_type.title%></td>
                    <td>Price</td>
										<td class="text-right">
                      <%=link_to edit_admin_room_type_path(room_type) do %>
                          <span class="text-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                      <%end%>
                      <%=link_to admin_room_type_path(room_type), method: :delete, data:{confirm: "Are you sure"} do %>
                          <span class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></span>
                      <%end%>

										</td>
									</tr>
                  <%end%>
								</tbody>
							</table>
						</div>
					</div>
        </div>
      </div>
  </div>
