<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Room</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <%=form_for ([:admin, @room]) do |f| %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Room Number</label>
                                <%=f.text_field :room_no, class: "form-control"%>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Price</label>
                                <%=f.number_field :price, class: "form-control"%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Room type</label>
                                <input class="form-control" type="text">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <%=f.text_area :description, class: "form-control"%>

                    </div>

                    <div class="m-t-20 text-center">
                        <%=f.submit "Update", class: "btn btn-primary submit-btn"%>
                        <%=link_to "Cancel", admin_rooms_path, class: "btn btn-danger submit-btn"%>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
