<!DOCTYPE html>
<html>
  <head>
    <title>HotelBookingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if params[:controller]== 'devise/sessions'%>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%else%>
      <%=render "Shared/NavBar"%>
    <%end%>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
