<!DOCTYPE html>
<html>
  <head>
    <title>HotelBookingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'front_end_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render "Shared/front_end/navigation"%>
    <%= yield %>
    <%=render "Shared/front_end/footer"%>
    <%= javascript_include_tag 'front_end_application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
